/* font weight */
$normal: normal;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

/* font size */
$para: 1rem;
$title: 3.125rem;
$sub-title: 1.125rem;
$message-title: 2.063rem;
$main-title-size: 5.25rem;

/* font family */
$main-title-font: "Volkhov";
$sub-title-font: "Poppins";
$sub-font: "Open Sans";

/* font */
@mixin font($fontFamily: $sub-title-font, $fontWeight: $normal) {
  font-family: $fontFamily, sans-serif !important;
  font-weight: $fontWeight !important;
}
