/* font weight */
/* font size */
/* font family */
/* font */
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif;
 */
/* Montserrat
Thin 100
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600 */
/* Open Sans
Regular 400
Medium 500
SemiBold 600
Bold 700 */
/* Poppins
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800 */
/* Volkhov
Regular 400
Bold 700 */
/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  color-scheme: dark light;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* styles */
body {
  background-color: #ffffff;
  color: #14183e;
}

/* services */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  color: #14183e;
}
.services .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
.services .heading h3 {
  text-align: center;
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #5e6282;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.services .heading h1 {
  text-align: center;
  font-size: 1.8382352941rem;
  text-transform: capitalize;
  font-family: "Volkhov", sans-serif;
  font-weight: 700;
  color: #14183e;
  position: relative;
  z-index: 1;
}
.services .heading .service-head-decore-element {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  width: 3.25rem;
  height: 3.25rem;
  z-index: 0;
}
.services .heading .service-head-decore-element img {
  width: 100%;
}
.services .service-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services .service-card-holder .service-cards-box {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .service-card-holder .service-cards-box div .service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}
.services .service-card-holder .service-cards-box div .service-card .service-card-icon {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.services .service-card-holder .service-cards-box div .service-card .service-card-icon img {
  width: 100%;
  aspect-ratio: 3/3;
  -o-object-fit: contain;
     object-fit: contain;
}
.services .service-card-holder .service-cards-box div .service-card .service-card-icon .service-card-plane-img {
  transform: scale(1.8);
}
.services .service-card-holder .service-cards-box div .service-card .service-card-texts h3 {
  text-align: center;
  font-size: 0.9375rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #080809;
}
.services .service-card-holder .service-cards-box div .service-card .service-card-texts p {
  font-size: 0.6666666667rem;
  color: #5e6282;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.services .service-card-holder .service-cards-box div .service-card:hover {
  background-color: #ffffff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.services .service-card-holder .service-cards-box div .service-card-active {
  background-color: #ffffff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.services .service-card-holder .service-cards-box div .decore-element {
  position: absolute;
  top: auto;
  bottom: -1rem;
  left: -1rem;
  right: auto;
  border-radius: 1.5rem 0rem 0.625rem 0rem;
  background-color: #df6951;
  width: 3.25rem;
  height: 3.25rem;
  z-index: 0;
}

/* products */
.products .products-head {
  margin-bottom: 2rem;
}
.products .product-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.products .product-card-holder .product-cards-box {
  padding-inline: 2rem;
}
.products .product-card-holder .product-cards-box div .product-card {
  width: 100%;
  height: 24rem;
  position: relative;
  z-index: 1;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.products .product-card-holder .product-cards-box div .product-card .product-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.products .product-card-holder .product-cards-box div .product-card .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .product-card-holder .product-cards-box div .product-card .product-detail {
  position: relative;
  z-index: 1;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  color: #5e6282;
  padding: 1.6rem 1rem;
  gap: 1rem;
}
.products .product-card-holder .product-cards-box div .product-card .product-detail * {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.products .product-card-holder .product-cards-box div .product-card .product-detail h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 0.9375rem;
  width: 100%;
}
.products .product-card-holder .product-cards-box div .product-card .product-detail h3 span {
  padding: 0;
  margin: 0;
}
.products .product-card-holder .product-cards-box div .product-card .product-detail h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 0.6rem;
}
.products .product-card-holder .product-cards-box div .product-card .product-detail h2 img {
  width: 1rem;
  aspect-ratio: 1;
}
.products .product-card-holder .product-cards-box div .product-card .product-detail h2 p {
  font-size: 0.8333333333rem;
}
.products .product-card-holder .product-cards-box div .product-card:hover {
  transform: scale(1.05);
}
.products .product-card-holder .product-cards-box .product-decore {
  position: absolute;
  top: auto;
  bottom: 0rem;
  left: auto;
  right: 0;
  width: 10rem;
  height: 22rem;
  z-index: 0;
}
.products .product-card-holder .product-cards-box .product-decore img {
  width: 100%;
  height: 100%;
}

/* feature */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.feature .feature-head {
  padding-inline: 2rem;
}
.feature .feature-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feature .feature-lists .feature-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.8rem;
}
.feature .feature-lists .feature-item .feature-item-icon {
  width: 3rem;
  aspect-ratio: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.feature .feature-lists .feature-item .feature-item-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.feature .feature-lists .feature-item .feature-item-content {
  color: #5e6282;
}
.feature .feature-lists .feature-item .feature-item-content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.9090909091rem;
}
.feature .feature-lists .feature-item .feature-item-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.7692307692rem;
}
.feature .feature-card-holder {
  width: 100%;
  transform: scale(0.8);
}
.feature .feature-card-holder .feature-card {
  padding: 1.2rem;
  border-radius: 1.625rem;
  background-color: #ffffff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.feature .feature-card-holder .feature-card .feature-card-img {
  width: 100%;
  height: 10rem;
  padding: 0;
  border-radius: 0.3rem;
  overflow: hidden;
}
.feature .feature-card-holder .feature-card .feature-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.feature .feature-card-holder .feature-card .feature-card-content {
  color: #5e6282;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
.feature .feature-card-holder .feature-card .feature-card-content h2,
.feature .feature-card-holder .feature-card .feature-card-content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #080809;
}
.feature .feature-card-holder .feature-card .feature-card-content h3 {
  color: #5e6282;
  font-size: 1rem;
}
.feature .feature-card-holder .feature-card .feature-card-content h3 span {
  margin-inline: 0.5rem;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-card-iconlist {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-card-iconlist li {
  padding: 0;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-card-iconlist li .feature-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 2rem;
  aspect-ratio: 1;
  padding: 0.6rem;
  background-color: #f5f5f5;
  border-radius: 100%;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-card-iconlist li .feature-card-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-counts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  width: 100%;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-counts div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 0.5rem;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-counts div p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-counts .feature-count-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1.5rem;
  aspect-ratio: 1;
}
.feature .feature-card-holder .feature-card .feature-card-content .feature-counts .feature-count-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.feature .feature-card-holder .feature-card .feature-card-popup {
  position: absolute;
  top: auto;
  bottom: 1rem;
  left: auto;
  right: 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background-color: #ffffff;
  margin-bottom: 2rem;
  margin-right: -8rem;
  border-radius: 1.125rem;
  gap: 0.5rem;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
  width: -moz-fit-content;
  width: fit-content;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content {
  position: relative;
  padding-right: 4rem;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content p,
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content h2,
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #080809;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content p span,
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content h2 span,
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content h3 span {
  color: #8a79df;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content p {
  color: #5e6282;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content h2 {
  font-size: 1.125rem;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content .range {
  position: absolute;
  top: auto;
  bottom: 0rem;
  left: auto;
  right: auto;
  width: 100%;
  height: 0.3rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  overflow: hidden;
}
.feature .feature-card-holder .feature-card .feature-card-popup .feature-popup-content .range div {
  background-color: #8a79df;
  width: 40%;
  height: 100%;
  border-radius: 1rem;
}
.feature .feature-card-holder .feature-card-decore {
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  width: 12rem;
  aspect-ratio: 1;
  border-radius: 22.9375rem;
  opacity: 0.8;
  background: #59b1e6;
  filter: blur(75px);
}

/* Testimonials */
.testimonial {
  gap: 0;
}
.testimonial .testimonial-text {
  gap: 1rem;
}
.testimonial .testimonial-text .testimonial-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding-inline: 2rem;
}
.testimonial .testimonial-text .testimonial-list .testimonial-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 0.4rem;
  aspect-ratio: 1;
  background-color: #e5e5e5;
  border-radius: 100%;
  overflow: hidden;
}
.testimonial .testimonial-text .testimonial-list .testimonial-item button {
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}
.testimonial .testimonial-text .testimonial-list .testimonial-item:first-child {
  background-color: #14183e;
}
.testimonial .testimonial-card-holder {
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
.testimonial .testimonial-card-holder .testimonial-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  width: 100%;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item {
  position: relative;
  width: 100%;
  padding: 1rem;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-msg-box {
  padding: 1rem;
  border-radius: 0.625rem;
  background-color: #ffffff;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-msg-box p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5e6282;
  font-size: 0.6666666667rem;
  margin-bottom: 0.5rem;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-msg-box div h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #5e6282;
  font-size: 0.75rem;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-msg-box div p {
  margin-bottom: 0;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-img {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
  width: 2.2rem;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 3.5rem;
  margin-left: 1rem;
  z-index: 0;
}
.testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card2 .testimonial-item .testimonial-msg-box {
  border: 2px solid #f7f7f7;
  box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.testimonial .testimonial-card-holder .testimonial-arrow-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  position: relative;
  z-index: 5;
}
.testimonial .testimonial-card-holder .testimonial-arrow-btn button {
  border: none;
  outline: none;
  background: transparent;
  width: 1.8rem;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
}
.testimonial .testimonial-card-holder .testimonial-arrow-btn button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* presets */
.yellowcolor {
  background-color: #f1a501;
}

.redcolor {
  background-color: #df6951;
}

.bluecolor {
  background-color: #006380;
}

/* media query breakpoints */
/* tablet */
@media (min-width: 768px) {
  /* services */
  .services .heading {
    margin-bottom: 2rem;
  }
  .services .heading h3 {
    font-size: 1.125rem;
  }
  .services .heading h1 {
    font-size: 3.125rem;
  }
  .services .heading .service-head-decore-element {
    position: absolute;
    top: -1rem;
    bottom: auto;
    left: auto;
    right: 0;
    width: 5.25rem;
    height: 5.25rem;
  }
  .services .service-card-holder .service-cards-box {
    padding-inline: 3rem;
  }
  .services .service-card-holder .service-cards-box div .service-card {
    padding: 1.5rem;
  }
  .services .service-card-holder .service-cards-box div .service-card .service-card-icon {
    width: 80px;
    aspect-ratio: 1;
  }
  .services .service-card-holder .service-cards-box div .service-card .service-card-icon img {
    aspect-ratio: 1;
  }
  .services .service-card-holder .service-cards-box div .service-card .service-card-texts h3 {
    font-size: 1.2375rem;
    margin-bottom: 0.5rem;
  }
  .services .service-card-holder .service-cards-box div .service-card .service-card-texts p {
    font-size: 1rem;
  }
  .services .service-card-holder .service-cards-box div .decore-element {
    position: absolute;
    top: auto;
    bottom: -1.5rem;
    left: -1.5rem;
    right: auto;
    width: 4.25rem;
    height: 4.25rem;
  }
  /* products */
  .products .products-head {
    margin-bottom: 3rem;
  }
  .products .product-card-holder {
    width: 100%;
  }
  .products .product-card-holder .product-cards-box {
    width: 100%;
    padding-inline: 0rem;
  }
  .products .product-card-holder .product-cards-box div .product-card .product-detail h3 {
    font-size: 1.125rem;
  }
  .products .product-card-holder .product-cards-box div .product-card .product-detail h2 {
    gap: 0.8rem;
  }
  .products .product-card-holder .product-cards-box div .product-card .product-detail h2 img {
    width: 1.2rem;
  }
  .products .product-card-holder .product-cards-box div .product-card .product-detail h2 p {
    font-size: 1rem;
  }
  .products .product-card-holder .product-cards-box .product-decore {
    position: absolute;
    top: 5rem;
    bottom: auto;
    left: auto;
    right: -1rem;
  }
  /* feature */
  .feature .feature-lists {
    width: 80%;
  }
  .feature .feature-lists .feature-item .feature-item-icon {
    width: 3rem;
  }
  .feature .feature-lists .feature-item .feature-item-content h3,
  .feature .feature-lists .feature-item .feature-item-content p {
    font-size: 1rem;
  }
  .feature .feature-card-holder {
    width: 60%;
    transform: scale(0.9);
  }
  /* Testimonials */
  .testimonial .testimonial-text .testimonial-list .testimonial-item {
    width: 0.6rem;
  }
  .testimonial .testimonial-card-holder {
    margin-top: 2rem;
    width: 80%;
  }
  .testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item {
    padding: 2rem;
  }
  .testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-msg-box {
    padding: 2rem;
  }
  .testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-msg-box p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-msg-box div h3 {
    font-size: 1.125rem;
  }
  .testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-img {
    width: 4rem;
  }
  .testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card2 {
    margin-top: 5.5rem;
    margin-left: 2.5rem;
  }
  .testimonial .testimonial-card-holder .testimonial-arrow-btn button {
    width: 2rem;
  }
}
/* laptop */
@media (min-width: 1024px) {
  /* services */
  .services {
    margin-block: 4rem;
  }
  .services .heading {
    margin-bottom: 3rem;
  }
  .services .heading h3 {
    font-size: 1.125rem;
  }
  .services .heading h1 {
    font-size: 3.125rem;
  }
  .services .heading .service-head-decore-element {
    width: 7.25rem;
    height: 7.25rem;
  }
  .services .service-card-holder .service-cards-box {
    padding-inline: 0rem;
  }
  .services .service-card-holder .service-cards-box div .service-card {
    padding: 1rem;
  }
  .services .service-card-holder .service-cards-box div .service-card .service-card-icon {
    width: 80px;
    aspect-ratio: 1;
  }
  .services .service-card-holder .service-cards-box div .service-card .service-card-icon img {
    aspect-ratio: 1;
  }
  .services .service-card-holder .service-cards-box div .decore-element {
    position: absolute;
    top: auto;
    bottom: -2rem;
    left: -1.5rem;
    right: auto;
    width: 4.25rem;
    height: 4.25rem;
  }
  /* product */
  .products .product-card-holder .product-cards-box div .product-card .product-detail {
    gap: 1.5rem;
  }
  .products .product-card-holder .product-cards-box .product-decore {
    position: absolute;
    top: auto;
    bottom: 0rem;
    left: auto;
    right: -2rem;
  }
  /* feature */
  .feature {
    flex-direction: row;
    gap: 0;
  }
  .feature .feature-text {
    flex-basis: 60%;
    justify-content: flex-start;
  }
  .feature .feature-head {
    padding-inline: 0rem;
    align-items: flex-start;
  }
  .feature .feature-head h1,
  .feature .feature-head h3 {
    text-align: start;
  }
  .feature .feature-lists {
    justify-content: flex-start;
  }
  .feature .feature-lists .feature-item .feature-item-icon {
    width: 3.5rem;
  }
  .feature .feature-card-holder {
    flex-basis: 40%;
    transform: none;
    align-self: flex-end;
    margin-bottom: 6rem;
  }
  /* Testimonials */
  .testimonial .testimonial-text {
    flex-basis: 50%;
  }
  .testimonial .testimonial-text .testimonial-list {
    padding-inline: 0;
  }
  .testimonial .testimonial-text .testimonial-list .testimonial-item {
    width: 0.8rem;
  }
  .testimonial .testimonial-card-holder {
    flex-basis: 60%;
    margin-top: 0rem;
    gap: 1rem;
    margin-bottom: 10rem;
  }
  .testimonial .testimonial-card-holder .testimonial-arrow-btn {
    gap: 3rem;
    margin-top: 12rem;
  }
}
/* laptop large */
@media (min-width: 1281px) {
  /* services */
  .services .heading .service-head-decore-element {
    width: 9.25rem;
    height: 9.25rem;
  }
  .services .service-card-holder .service-cards-box {
    padding-inline: 6.5rem;
  }
  .services .service-card-holder .service-cards-box div .service-card {
    padding: 2rem;
  }
  .services .service-card-holder .service-cards-box div .service-card .service-card-icon {
    width: 90px;
  }
  .services .service-card-holder .service-cards-box div .service-card .service-card-texts h3 {
    margin-bottom: 0.8rem;
  }
  .services .service-card-holder .service-cards-box div .decore-element {
    width: 6.25rem;
    height: 6.25rem;
  }
  /* products */
  .products .product-card-holder .product-cards-box {
    padding-inline: 8rem;
  }
  .products .product-card-holder .product-cards-box div .product-card {
    height: 28rem;
  }
  .products .product-card-holder .product-cards-box .product-decore {
    position: absolute;
    top: auto;
    bottom: 0rem;
    left: auto;
    right: 6rem;
  }
  /* feature */
  .feature {
    padding-inline: 10rem !important;
    gap: 2rem;
  }
  .feature .feature-head {
    padding-inline: 0rem 3rem;
  }
  .feature .feature-card-holder .feature-card .feature-card-popup {
    margin-right: -5rem;
  }
  /* Testimonials */
  .testimonial {
    gap: 0;
  }
  .testimonial .testimonial-text {
    flex-basis: 45%;
  }
  .testimonial .testimonial-text .testimonial-list {
    padding-inline: 0;
  }
  .testimonial .testimonial-text .testimonial-list .testimonial-item {
    width: 0.8rem;
  }
  .testimonial .testimonial-card-holder {
    flex-basis: 55%;
    margin-top: 0rem;
    gap: 2rem;
    margin-bottom: 10rem;
  }
  .testimonial .testimonial-card-holder .testimonial-card-box .testimonial-card .testimonial-item .testimonial-msg-box {
    padding-right: 3rem;
  }
  .testimonial .testimonial-card-holder .testimonial-arrow-btn {
    gap: 3rem;
    margin-top: 12rem;
  }
}
/* 4k */
@media (min-width: 1440px) {
  .pageholder {
    max-width: 1440px;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/* 
@media (min-width: 1025px) {
}
@media (min-width: 1281px) {

} *//*# sourceMappingURL=style.css.map */