@use "./colors" as *;
@use "./fonts" as *;

@mixin flex($justify-content: center, $align-items: center, $direction: row) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}
@mixin positionAbsolute($top: auto, $bottom: auto, $left: auto, $right: auto) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}
/* css reset */
/* Box sizing rules */
/* aspect */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html {
  color-scheme: dark light;
}
html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* styles */
body {
  background-color: $main-bg;
  color: $main-text-color;
}
/* header */
/* nav */
nav {
  background: transparent !important;
  // background: $main-bg !important;
  z-index: 10 !important;
  div {
    .navbar-toggler {
      box-shadow: none;
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    a {
      img {
        width: 60px;
        height: 20px;
      }
    }
    button {
      border: none;
      outline: none;
      box-shadow: none;
      &:focus,
      &:hover {
        border: none;
        outline: none;
        box-shadow: none;
      }
      .navbar-toggler-icon {
        filter: hue-rotate(180deg) !important;
      }
    }
    div {
      background-color: $main-bg !important;
      padding-left: 2rem !important;
      padding-top: 2rem !important;
      box-shadow: 0px 50px 0px 50px $main-bg !important;
      transition: all ease-in-out 0.5s !important;

      ul {
        li {
          a,
          .active {
            @include font("Open Sans", $fontWeight: $semiBold);
            color: $black-bg !important;
          }
          button,
          .dropdown-toggle {
            @include font("Open Sans", $fontWeight: $semiBold);
            border: 2px solid $black-bg !important;
            background: transparent !important;
            color: $black-bg !important;
          }
          .dropdown-toggle {
            border: none !important;
          }
        }
      }
    }
  }
}
/* hero */
.homeHero {
  @include flex();
  position: relative;
  .home-content-box {
    position: relative;
    z-index: 1;
    @include flex($justify-content: flex-start, $direction: column);
    gap: 1rem;
    .content-item {
      @include flex();
      .home-text-content {
        padding-top: 4rem;
        @include flex($direction: column, $align-items: flex-start);
        h2 {
          @include font($fontWeight: $bold);
          color: $btn-color-two;
          font-size: $sub-title/1.5;
          text-transform: uppercase;
        }
        h1 {
          @include font("Volkhov", $fontWeight: $bold);
          color: $main-text-color;
          font-size: $main-title-size/2.5;
          span {
            position: relative;
            z-index: 1;
            width: fit-content;
            height: fit-content;
            &::after {
              z-index: -1;
              content: "";
              width: 10rem;
              height: 0.5rem;
              @include positionAbsolute($bottom: 0, $left: -1rem, $right: 0);
              background-image: url("../assets/brushdecoreimg.png");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: top left;
            }
          }
        }
        p {
          @include font($fontWeight: $medium);
          color: $para-color;
          font-size: $para/1.5;
        }
        .home-btns {
          @include flex();
          height: fit-content;
          gap: 1rem;
          .home-btn {
            @include flex();
            border: none;
            outline: none;
            @include font($sub-font, $fontWeight: $medium);
            font-size: $sub-title/1.5;
            border-radius: 0.625rem;
            overflow: hidden;
            padding: 0.6rem 1rem;
          }
          .find-btn {
            background-color: $btn-color-one;
            box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
          }
          .play-btn {
            background-color: $btn-color-two;
            border-radius: 100%;
            height: 100%;
            aspect-ratio: 1;
            box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          }
        }
      }
    }
    .home-bg-holder {
      width: 100%;
      height: 100%;
      .bg-holder {
        width: 100%;
        aspect-ratio: 1;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &::after {
    position: absolute;
    transform: scale(1.1);
    top: 0;
    right: 0;
    content: "";
    width: 14rem;
    z-index: 0;
    aspect-ratio: 1;
    background-image: url("../assets/herodecoreimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
/* services */
.services {
  @include flex($direction: column);
  padding-top: 1rem;
  color: $main-text-color;
  .heading {
    @include flex($direction: column);
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    h3 {
      text-align: center;
      font-size: $sub-title/1.5;
      @include font($fontWeight: $semiBold);
      color: $sub-title-color;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
    }
    h1 {
      text-align: center;
      font-size: $title / 1.7;
      text-transform: capitalize;
      @include font("Volkhov", $bold);
      color: $main-text-color;

      position: relative;
      z-index: 1;
    }
    .service-head-decore-element {
      @include positionAbsolute($top: 0, $right: 0);
      width: 3.25rem;
      height: 3.25rem;
      z-index: 0;
      img {
        width: 100%;
      }
    }
  }
  .service-card-holder {
    @include flex($direction: column);
    .service-cards-box {
      padding-inline: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      div {
        .service-card {
          @include flex($direction: column);
          width: fit-content;
          gap: 1rem;
          padding: 1rem;
          border-radius: 2rem;
          position: relative;
          z-index: 1;
          overflow: hidden;
          transition: all ease-in-out 0.2s;
          cursor: pointer;
          .service-card-icon {
            width: 60px;
            aspect-ratio: 1;
            @include flex($direction: row);
            img {
              width: 100%;
              aspect-ratio: 3/3;
              object-fit: contain;
            }
            .service-card-plane-img {
              transform: scale(1.8);
            }
          }
          .service-card-texts {
            h3 {
              text-align: center;
              font-size: $sub-title/1.2;
              @include font("Open Sans", $semiBold);
              color: $black-bg;
            }
            p {
              font-size: $para/1.5;
              color: $para-color;
              text-align: center;
              @include font($fontWeight: $medium);
            }
          }

          &:hover {
            background-color: $main-bg;
            box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
              0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
              0px 20px 13px 0px rgba(0, 0, 0, 0.01),
              0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
              0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
              0px 100px 80px 0px rgba(0, 0, 0, 0.02);
          }
        }
        .service-card-active {
          background-color: $main-bg;
          box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
            0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
            0px 20px 13px 0px rgba(0, 0, 0, 0.01),
            0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
            0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
            0px 100px 80px 0px rgba(0, 0, 0, 0.02);
        }
        .decore-element {
          @include positionAbsolute($left: -1rem, $bottom: -1rem);
          // border-radius: 1.875rem 0rem 0.625rem 0rem;
          border-radius: 1.5rem 0rem 0.625rem 0rem;
          background-color: $btn-color-two;
          width: 3.25rem;
          height: 3.25rem;
          z-index: 0;
        }
      }
    }
  }
}

/* products */
.products {
  .products-head {
    margin-bottom: 2rem;
  }
  .product-card-holder {
    @include flex($direction: row);
    .product-cards-box {
      padding-inline: 2rem;
      div {
        .product-card {
          width: 100%;
          height: 24rem;
          position: relative;
          z-index: 1;
          border-radius: 1.5rem;
          overflow: hidden;
          box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
            0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
            0px 20px 13px 0px rgba(0, 0, 0, 0.01),
            0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
            0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
            0px 100px 80px 0px rgba(0, 0, 0, 0.02);
          @include flex($align-items: flex-end);
          transition: all ease-in-out 0.2s;
          cursor: pointer;
          .product-img {
            width: 100%;
            height: 100%;
            @include positionAbsolute($top: 0, $bottom: 0, $left: 0, $right: 0);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .product-detail {
            position: relative;
            z-index: 1;
            width: 100%;
            border-radius: 1.5rem 1.5rem 0rem 0rem;
            overflow: hidden;
            @include flex($direction: column, $justify-content: flex-start);
            background-color: $main-bg;
            color: $para-color;
            padding: 1.6rem 1rem;
            gap: 1rem;

            * {
              padding: 0;
              margin: 0;
              @include font($fontWeight: $medium);
            }
            h3 {
              @include flex($justify-content: space-between);
              font-size: $sub-title/1.2;
              width: 100%;
              span {
                padding: 0;
                margin: 0;
              }
            }
            h2 {
              @include flex($justify-content: flex-start);
              width: 100%;
              gap: 0.6rem;
              img {
                width: 1rem;
                aspect-ratio: 1;
              }
              p {
                font-size: $para/1.2;
              }
            }
          }
          &:hover {
            transform: scale(1.05);
          }
        }
      }
      .product-decore {
        @include positionAbsolute($right: 0, $bottom: 0rem);
        width: 10rem;
        height: 22rem;
        z-index: 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
/* feature */
.feature-overflow {
  overflow: hidden;
}
.feature {
  @include flex($direction: column);
  gap: 2rem;
  height: fit-content;

  .feature-head {
    padding-inline: 2rem;
  }
  .feature-lists {
    @include flex($direction: column);
    .feature-item {
      @include flex($align-items: flex-start);
      gap: 0.8rem;
      .feature-item-icon {
        width: 3rem;
        aspect-ratio: 1;
        padding: 0.5rem;
        border-radius: 0.5rem;
        @include flex();
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .feature-item-content {
        color: $para-color;
        h3 {
          @include font($fontWeight: $bold);
          font-size: $para/1.1;
        }
        p {
          @include font($fontWeight: $regular);
          font-size: $para/1.3;
        }
      }
    }
  }
  .feature-card-holder {
    width: 100%;

    .feature-card {
      padding: 1.2rem;
      border-radius: 1.625rem;
      background-color: $main-bg;
      box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
        0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
        0px 20px 13px 0px rgba(0, 0, 0, 0.01),
        0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
        0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
        0px 100px 80px 0px rgba(0, 0, 0, 0.02);
      .feature-card-img {
        width: 100%;
        height: 10rem;
        padding: 0;
        border-radius: 0.3rem;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
      .feature-card-content {
        color: $para-color;
        @include flex(
          $justify-content: flex-start,
          $align-items: flex-start,
          $direction: column
        );
        gap: 0.5rem;
        h2,
        h3 {
          @include font($fontWeight: $medium);
          font-size: $sub-title;
          color: $black-bg;
        }
        h3 {
          color: $para-color;
          font-size: $para;
          span {
            margin-inline: 0.5rem;
          }
        }
        .feature-card-iconlist {
          @include flex($justify-content: flex-start);
          gap: 0.5rem;
          li {
            padding: 0;
            .feature-card-icon {
              @include flex();
              width: 2rem;
              aspect-ratio: 1;
              padding: 0.6rem;
              background-color: #f5f5f5;
              border-radius: 100%;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
        }
        .feature-counts {
          @include flex(
            $align-items: flex-end,
            $justify-content: space-between
          );
          width: 100%;

          div {
            @include flex($align-items: flex-end);
            gap: 0.5rem;
            p {
              @include font($fontWeight: $medium);
            }
          }
          .feature-count-icon {
            @include flex();
            width: 1.5rem;
            aspect-ratio: 1;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
      .feature-card-popup {
        @include positionAbsolute($bottom: 1rem, $right: 0rem);
        @include flex($justify-content: flex-start, $align-items: flex-start);
        background-color: $main-bg;
        margin-bottom: 2rem;
        margin-right: -8rem;
        border-radius: 1.125rem;
        gap: 0.5rem;
        box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
          0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
          0px 20px 13px 0px rgba(0, 0, 0, 0.01),
          0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
          0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
          0px 100px 80px 0px rgba(0, 0, 0, 0.02);
        width: fit-content;
        .feature-popup-img {
          @include flex();
          width: 3rem;
          aspect-ratio: 1;
          border-radius: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .feature-popup-content {
          position: relative;
          padding-right: 4rem;
          p,
          h2,
          h3 {
            @include font($fontWeight: $medium);
            font-size: 14px;
            color: $black-bg;
            span {
              color: #8a79df;
            }
          }
          p {
            color: $para-color;
          }
          h2 {
            font-size: $sub-title;
          }
          .range {
            @include positionAbsolute($bottom: 0rem);
            width: 100%;
            height: 0.3rem;
            background-color: #f5f5f5;
            border-radius: 1rem;
            overflow: hidden;
            div {
              background-color: #8a79df;
              width: 40%;
              height: 100%;
              border-radius: 1rem;
            }
          }
        }
      }
    }
    .feature-card-decore {
      @include positionAbsolute($top: 0, $right: 0);
      width: 12rem;
      aspect-ratio: 1;
      border-radius: 22.9375rem;
      opacity: 0.8;
      background: #59b1e6;
      filter: blur(75px);
    }
    transform: scale(0.8);
  }
}
/* Testimonials */
.testimonial {
  gap: 0;
  overflow: visible;
  .testimonial-text {
    gap: 1rem;
    .testimonial-list {
      @include flex($justify-content: flex-start);
      gap: 1rem;
      width: 100%;
      padding-inline: 2rem;
      .testimonial-item {
        @include flex();
        width: 0.4rem;
        aspect-ratio: 1;
        background-color: #e5e5e5;
        border-radius: 100%;
        overflow: hidden;
        transition: all ease-in-out 0.2s;
        button {
          background: transparent;
          outline: none;
          border: none;
          width: 100%;
          height: 100%;
        }
        &:hover {
          background-color: $main-text-color;
        }
      }
      .testimonial-item:first-child {
        background-color: $main-text-color;
      }
    }
  }
  .testimonial-card-holder {
    transform: none;
    @include flex();
    margin-top: 1rem;
    .testimonial-card-box {
      @include flex();
      position: relative;
      width: 100%;
      .testimonial-card {
        @include positionAbsolute($top: 0, $bottom: 0, $left: 0, $right: 0);
        width: 100%;
        height: fit-content;
        z-index: 1;
        .testimonial-item {
          position: relative;
          width: 100%;
          padding: 1rem;
          .testimonial-msg-box {
            padding: 1rem;
            border-radius: 0.625rem;
            background-color: $main-bg;
            box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
              0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
              0px 20px 13px 0px rgba(0, 0, 0, 0.01),
              0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
              0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
              0px 100px 80px 0px rgba(0, 0, 0, 0.02);
            p {
              @include font($fontWeight: $medium);
              color: $para-color;
              font-size: $para/1.5;
              margin-bottom: 0.5rem;
            }
            div {
              h3 {
                @include font($fontWeight: $semiBold);
                color: $para-color;
                font-size: $sub-title/1.5;
              }
              p {
                margin-bottom: 0;
              }
            }
          }
          .testimonial-img {
            @include positionAbsolute($top: 0, $left: 0);
            width: 2.2rem;
            aspect-ratio: 1;
            border-radius: 100%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }
        }
      }
      .testimonial-card2 {
        @include positionAbsolute($top: 0, $bottom: 0, $left: 0, $right: 0);
        margin-top: 3.5rem;
        margin-left: 1rem;
        z-index: 0;
        .testimonial-item {
          .testimonial-msg-box {
            border: 2px solid #f7f7f7;
            box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
              0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
              0px 20px 13px 0px rgba(0, 0, 0, 0.01),
              0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
              0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
              0px 100px 80px 0px rgba(0, 0, 0, 0.02);
          }
        }
      }
    }

    .testimonial-arrow-btn {
      @include flex($direction: column, $justify-content: space-between);
      gap: 2rem;
      height: 100%;
      position: relative;
      z-index: 5;
      button {
        border: none;
        outline: none;
        background: transparent;
        width: 1.8rem;
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
        @include flex();
        padding: 0.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        &:first-child {
          transform: rotate(180deg);
          opacity: 0.4;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* client */
.client {
  margin-top: 6rem;
  .client-list {
    @include flex();
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    row-gap: 1rem;
    .client-item {
      height: 4rem;
      padding-inline: 2rem;
      .client-logo {
        width: 100%;
        height: 100%;
        border-radius: 0.625rem;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          aspect-ratio: 3/2;
          object-fit: contain;
          filter: grayscale(1);
        }
        &:hover {
          background-color: $main-bg;
          box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0),
            0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01),
            0px 20px 13px 0px rgba(0, 0, 0, 0.01),
            0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.01),
            0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02),
            0px 100px 80px 0px rgba(0, 0, 0, 0.02);
          img {
            filter: grayscale(0);
          }
        }
      }
    }
  }
}

/* message */
.message {
  position: relative;
  .message-container {
    position: relative;
    z-index: 1;
    background-color: $main-bg;

    .message-holder {
      position: relative;
      background-color: rgba(223, 215, 249, 0.2);
      // border-radius: 8.0625rem 1.25rem 1.25rem 1.25rem;
      border-radius: 3.0625rem 1.25rem 1.25rem 1.25rem;
      overflow: hidden;
      padding: 1.5rem;
      .message-content {
        position: relative;
        z-index: 1;
        h1 {
          @include font($fontWeight: $semiBold);
          font-size: $message-title/1.8;
          width: 100%;
          color: $para-color;
          margin-bottom: 1rem;
        }
        .message-input {
          @include flex($direction: column);
          gap: 0.8rem;
          * {
            background: transparent;
            border: none;
            outline: none;
          }
          .message-box {
            @include flex($justify-content: flex-start);
            @include font("Montserrat", $fontWeight: $regular);
            background-color: $main-bg;
            gap: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.625rem;
            overflow: hidden;
            width: 100%;
            .message-icon {
              @include flex();

              width: 1.5rem;
              aspect-ratio: 1;
              padding: 0.2rem;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            input {
              font-size: 14px;
              color: #39425d;
              width: 100%;
            }
          }
          .message-sent-btn {
            @include flex();
            @include font($fontFamily: $sub-font, $fontWeight: $semiBold);
            border-radius: 0.625rem;
            background-image: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
            padding: 0.5rem 1rem;
            font-size: $para/1.2;
          }
        }
      }
      &::after,
      &::before {
        @include positionAbsolute($bottom: -2rem, $left: 1rem);
        z-index: 0;
        content: "";
        width: 8rem;
        aspect-ratio: 1;
        background-image: url("../assets/messageboxdecore.png");
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0.1;
      }
      &::after {
        @include positionAbsolute($top: -2rem, $right: -2rem);
        transform: rotate(-90deg);
      }
    }
    .messageboxdecore {
      @include positionAbsolute($right: 0rem, $top: -1.5rem);
      @include flex();
      width: 3rem;
      border-radius: 100%;
      overflow: hidden;
      padding: 0.7rem;
      aspect-ratio: 1;
      background-image: linear-gradient(186deg, #747def 0%, #5e3be1 100%);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &::after {
    @include positionAbsolute($bottom: 0, $right: 0);
    content: "";
    width: 6rem;
    aspect-ratio: 1;
    background-image: url("../assets/brokenboxdecoreimg.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
  }
}
/* footer */
footer {
  flex-direction: column !important;
  gap: 3rem !important;
  .footer {
    @include flex($justify-content: flex-start);
    margin-top: 4rem;
    .footer-holder {
      @include flex(
        $direction: column,
        $justify-content: flex-start,
        $align-items: flex-start
      );
      gap: 1rem;
      padding-inline: 2rem;
      * {
        @include font($fontWeight: $medium);
        color: $para-color;
      }
      .footer-brand-box {
        p {
          font-size: 0.6rem;
        }
        h1 {
          font-size: 1.75rem;
          color: $main-text-color;
        }
      }
      .footer-menus {
        @include flex($direction: column, $align-items: flex-start);
        gap: 1.5rem;
        .footer-menu-list {
          h2 {
            @include font($fontWeight: $bold);
            font-size: $sub-title;
            color: $black-bg;
          }
        }
      }
      .footer-social {
        margin-top: 1rem;
        @include flex($direction: column, $align-items: flex-start);
        gap: 1rem;
        ul {
          @include flex();
          gap: 1rem;
          li {
            @include flex();
            .footer-icon {
              @include flex();
              width: 2.5rem;
              aspect-ratio: 1;
              background-color: $main-bg;
              border-radius: 100%;
              overflow: hidden;
              padding: 0.8rem;
              filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .insta-icon {
              filter: none;
              background-image: url("../assets/instaiconbg.png");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
        }
        h2 {
          font-size: $sub-title;
        }
        .footer-store {
          @include flex();
          gap: 1rem;
          .store-logo {
            @include flex();
            height: 2.5rem;
            border-radius: 2rem;
            overflow: hidden;
            img {
              height: 100%;
            }
          }
        }
      }
    }
  }
  .copyright {
    @include flex();
    p {
      @include font($fontWeight: $medium);
      font-size: $para/1.2;
      color: $para-color;
      text-align: center;
    }
  }
}
/* presets */
.yellowcolor {
  background-color: $btn-color-one;
}
.redcolor {
  background-color: $btn-color-two;
}
.bluecolor {
  background-color: #006380;
}

/* media query breakpoints */
/* tablet */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media (min-width: 768px) {
  /* hero */
  .homeHero {
    .home-content-box {
      height: fit-content;
      position: relative;
      @include flex(
        $justify-content: flex-start,
        $align-items: flex-start,
        $direction: row
      );
      gap: 0;
      .content-text {
        position: relative;
        z-index: 1;
        .home-text-content {
          height: fit-content;
          gap: 1rem;
          h2 {
            font-size: $sub-title;
          }
          h1 {
            font-size: $main-title-size/1.5;
            span {
              &::after {
                content: "";
                width: 20rem;
                height: 0.5rem;
                @include positionAbsolute($bottom: 0, $left: -1rem, $right: 0);

                background-size: contain;
                background-position: top left;
              }
            }
          }
          p {
            font-size: $para;
          }
          .home-btns {
            gap: 1.5rem;
            .home-btn {
              font-size: $sub-title;
              padding: 1rem 2rem;
            }
            .play-btn {
              img {
                width: 1rem;
              }
            }
          }
        }
      }
      .home-bg-holder {
        .bg-holder {
          img {
            position: absolute;
            top: 0;
            right: -12rem;
            z-index: 0;
          }
        }
      }
    }
    &::after {
      transform: scale(1.1);

      width: 20.5rem;
    }
  }
  /* services */
  .services {
    .heading {
      margin-bottom: 2rem;

      h3 {
        font-size: $sub-title;
      }
      h1 {
        font-size: $title;
      }
      .service-head-decore-element {
        @include positionAbsolute($top: -1rem, $right: 0);
        width: 5.25rem;
        height: 5.25rem;
      }
    }
    .service-card-holder {
      .service-cards-box {
        padding-inline: 3rem;
        div {
          .service-card {
            padding: 1.5rem;
            .service-card-icon {
              width: 80px;
              aspect-ratio: 1;
              img {
                aspect-ratio: 1;
              }
            }
            .service-card-texts {
              h3 {
                font-size: $sub-title * 1.1;
                margin-bottom: 0.5rem;
              }
              p {
                font-size: $para;
              }
            }
          }
          .decore-element {
            @include positionAbsolute($left: -1.5rem, $bottom: -1.5rem);
            width: 4.25rem;
            height: 4.25rem;
          }
        }
      }
    }
  }

  /* products */
  .products {
    .products-head {
      margin-bottom: 3rem;
    }
    .product-card-holder {
      width: 100%;
      .product-cards-box {
        width: 100%;
        padding-inline: 0rem;
        div {
          .product-card {
            .product-detail {
              h3 {
                font-size: $sub-title;
              }
              h2 {
                gap: 0.8rem;
                img {
                  width: 1.2rem;
                }
                p {
                  font-size: $para;
                }
              }
            }
          }
        }
        .product-decore {
          @include positionAbsolute($right: -1rem, $top: 5rem);
        }
      }
    }
  }

  /* feature */
  .feature {
    .feature-lists {
      width: 80%;
      .feature-item {
        .feature-item-icon {
          width: 3rem;
        }
        .feature-item-content {
          h3,
          p {
            font-size: $para;
          }
        }
      }
    }
    .feature-card-holder {
      width: 60%;
      transform: scale(0.9);
    }
  }

  /* Testimonials */
  .testimonial {
    .testimonial-text {
      .testimonial-list {
        .testimonial-item {
          width: 0.6rem; // c
        }
      }
    }
    .testimonial-card-holder {
      margin-top: 2rem; //c
      width: 80%; //c
      .testimonial-card-box {
        .testimonial-card {
          .testimonial-item {
            padding: 2rem; // c
            .testimonial-msg-box {
              padding: 2rem; // c
              p {
                font-size: $para; // c
                margin-bottom: 1rem; //c
              }
              div {
                h3 {
                  font-size: $sub-title; // c
                }
              }
            }
            .testimonial-img {
              width: 4rem; //c
            }
          }
        }
        .testimonial-card2 {
          margin-top: 5.5rem; // c
          margin-left: 2.5rem; // c
        }
      }

      .testimonial-arrow-btn {
        button {
          width: 2rem; // c
        }
      }
    }
  }

  /* client */
  .client {
    margin-top: 12rem;
    .client-list {
      row-gap: 2rem;
      .client-item {
        height: 5rem;
      }
    }
  }

  /* message */
  .message {
    .message-container {
      .message-holder {
        border-radius: 8.0625rem 1.25rem 1.25rem 1.25rem; // c

        padding: 3rem; //c
        .message-content {
          padding-inline: 2rem; //c

          h1 {
            font-size: $message-title; // c

            margin-bottom: 2rem; //c
            text-align: center; //c
          }
          .message-input {
            flex-direction: row; //c
            gap: 1rem; //c
            padding-inline: 2rem; //c
            .message-box {
              justify-content: center; //c
              gap: 0.8rem; //c
              padding: 0.8rem; //c
              .message-icon {
                width: 2rem; // c
              }
              input {
                font-size: $para; // c
              }
            }
            .message-sent-btn {
              padding: 1rem 1.5rem; //
              font-size: $para; //c
            }
          }
        }
        &::after,
        &::before {
          @include positionAbsolute($bottom: -4rem, $left: 1rem); //c
          width: 16rem; //
        }
        &::after {
          @include positionAbsolute($top: -4rem, $right: -6rem); //c
        }
      }
      .messageboxdecore {
        @include positionAbsolute($right: 0rem, $top: -2rem);
        padding: 0.8rem;
        width: 4rem; // c
      }
    }
    &::after {
      @include positionAbsolute($bottom: -2rem, $right: 0);
      width: 8rem;
    }
  }

  /* footer */
  footer {
    .footer {
      @include flex($justify-content: center); //c
      .footer-holder {
        padding-inline: 0rem; //c
        .footer-brand-box {
          p {
            font-size: 0.8rem; //c
          }
          h1 {
            font-size: 2.75rem; //c
          }
        }
        .footer-menus {
          @include flex(); //c
          gap: 2.5rem; //c
          .footer-menu-list {
            h2 {
              font-size: $sub-title * 1.2; //c
            }
            ul li {
              font-size: $sub-title;
            } //c
          }
        }
        .footer-social {
          ul {
            li {
              .footer-icon {
                width: 3rem; //c
              }
            }
          }
          h2 {
            font-size: $sub-title * 1.2; //c
          }
          .footer-store {
            .store-logo {
              height: 3.5rem; //c
            }
          }
        }
      }
    }
  }
  nav {
    padding-inline: 1rem !important;
    div {
      a {
        img {
          width: 100px;
          height: 30px;
        }
      }
    }
  }
}

/* laptop */
/*$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media (min-width: 1024px) {
  /* hemo */
  .homeHero {
    .home-content-box {
      margin-top: 4rem;

      .content-text {
        .home-text-content {
          h1 {
            font-size: $main-title-size/1.2;
            span {
              &::after {
                height: 0.8rem;
              }
            }
          }
        }
      }
      .home-bg-holder {
        .bg-holder {
          img {
            right: -16rem;
          }
        }
      }
    }
    &::after {
      transform: scale(1.1);
      width: 30rem;
    }
  }
  /* services */
  .services {
    margin-block: 4rem;
    .heading {
      margin-bottom: 3rem;
      h3 {
        font-size: $sub-title;
      }
      h1 {
        font-size: $title;
      }
      .service-head-decore-element {
        width: 7.25rem;
        height: 7.25rem;
      }
    }
    .service-card-holder {
      .service-cards-box {
        padding-inline: 0rem;
        div {
          .service-card {
            padding: 1rem;
            .service-card-icon {
              width: 80px;
              aspect-ratio: 1;
              img {
                aspect-ratio: 1;
              }
            }
          }
          .decore-element {
            @include positionAbsolute($left: -1.5rem, $bottom: -2rem);
            width: 4.25rem;
            height: 4.25rem;
          }
        }
      }
    }
  }

  /* product */
  .products {
    .product-card-holder {
      .product-cards-box {
        div {
          .product-card {
            .product-detail {
              gap: 1.5rem;
            }
          }
        }
        .product-decore {
          @include positionAbsolute($right: -4rem, $bottom: 0rem);
        }
      }
    }
  }

  /* feature */
  .feature {
    flex-direction: row;
    gap: 0;
    .feature-text {
      flex-basis: 60%;
      justify-content: flex-start;
      margin-top: 0;
      margin-bottom: 0;
    }
    .feature-head {
      padding-inline: 0rem;
      align-items: flex-start;
      h1,
      h3 {
        text-align: start;
      }
    }
    .feature-lists {
      justify-content: flex-start;

      .feature-item {
        .feature-item-icon {
          width: 3.5rem;
        }
      }
    }
    .feature-card-holder {
      flex-basis: 40%;
      transform: none;
      align-self: flex-end;
      margin-bottom: 6rem;
    }
  }

  /* Testimonials */
  .testimonial {
    .testimonial-text {
      flex-basis: 50%;
      .testimonial-list {
        padding-inline: 0;
        .testimonial-item {
          width: 0.8rem; // c
        }
      }
    }
    .testimonial-card-holder {
      flex-basis: 60%;
      margin-top: 0rem; //c
      gap: 1rem;
      margin-bottom: 10rem;
      .testimonial-arrow-btn {
        gap: 3rem;
        margin-top: 12rem;
      }
    }
  }

  /* client */
  .client {
    margin-top: 0rem;
    .client-list {
      justify-content: center;
      gap: 1rem;
      .client-item {
        height: 6rem;
        padding-inline: 0rem;
        .client-logo {
          padding-inline: 1rem;
        }
      }
    }
  }

  /* message */
  .message {
    .message-container {
      .message-holder {
        padding: 4rem; //c
        .message-content {
          padding-inline: 0rem; //c
          h1 {
            margin-bottom: 4rem; //c
          }
          .message-input {
            padding-inline: 8rem; //c
            .message-box {
              gap: 1rem; //c
              padding: 1rem; //c
            }
            .message-sent-btn {
              padding: 1rem 2rem; //
            }
          }
        }
        &::after,
        &::before {
          @include positionAbsolute($bottom: -6rem, $left: 2rem); //c
          width: 20rem; //
        }
        &::after {
          @include positionAbsolute($top: -6rem, $right: -8rem); //c
        }
      }
    }
    &::after {
      @include positionAbsolute($bottom: 0rem, $right: 0);
      width: 8rem;
    }
  }

  /* footer */
  footer {
    .footer {
      .footer-holder {
        @include flex(
          $align-items: flex-start,
          $justify-content: space-between
        );

        .footer-brand-box {
          @include flex(
            $direction: column,
            $justify-content: flex-start,
            $align-items: flex-start
          );
          flex-basis: 25%;
        }
        .footer-menus {
          @include flex($align-items: flex-start); //c
          gap: 3rem;
          .footer-menu-list {
            h2 {
              font-size: $sub-title * 1.1; //c
              margin-bottom: 1rem;
            }
            ul li {
              font-size: $sub-title/1.1;
            } //c
          }
        }
        .footer-social {
          margin-top: 0;
          gap: 0.5rem;
          ul {
            li {
              .footer-icon {
                width: 2.5rem; //c
              }
            }
          }
          h2 {
            font-size: $sub-title * 1.1; //c
          }
          .footer-store {
            .store-logo {
              height: 2.5rem; //c
            }
          }
        }
      }
    }
  }
  nav {
    background: transparent !important;
    padding-inline: 1rem !important;
    div {
      div {
        background: transparent !important;
        padding-left: 0rem !important;
        padding-top: 0rem !important;
        box-shadow: none !important;
        transition: all ease-in-out 0.5s !important;
      }
    }
  }
}

/* laptop large */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
@media (min-width: 1281px) {
  /* hemo */
  .homeHero {
    padding-inline: 8rem !important;

    .home-content-box {
      .content-text {
        .home-text-content {
          h1 {
            font-size: $main-title-size;
            span {
              &::after {
                height: 1.5rem;
              }
            }
          }
        }
      }
      .home-bg-holder {
        .bg-holder {
          img {
            top: 3rem;
            right: -16rem;
            transform: scale(1.2);
          }
        }
      }
    }
    &::after {
      transform: scale(1.2);
      width: 36rem;
    }
  }
  /* services */
  .services {
    .heading {
      .service-head-decore-element {
        width: 9.25rem;
        height: 9.25rem;
      }
    }
    .service-card-holder {
      .service-cards-box {
        padding-inline: 6.5rem;
        div {
          .service-card {
            padding: 2rem;
            .service-card-icon {
              width: 90px;
            }
            .service-card-texts {
              h3 {
                margin-bottom: 0.8rem;
              }
            }
          }
          .decore-element {
            width: 6.25rem;
            height: 6.25rem;
          }
        }
      }
    }
  }

  /* products */
  .products {
    .product-card-holder {
      .product-cards-box {
        padding-inline: 8rem;
        div {
          .product-card {
            height: 28rem;
          }
        }
        .product-decore {
          @include positionAbsolute($right: 3rem, $bottom: 0rem);
        }
      }
    }
  }

  /* feature */
  .feature {
    padding-inline: 10rem !important;
    gap: 2rem;
    .feature-head {
      padding-inline: 0rem 3rem;
    }
    .feature-card-holder {
      .feature-card {
        .feature-card-popup {
          margin-right: -5rem;
        }
      }
    }
  }

  /* Testimonials */
  .testimonial {
    gap: 0;
    .testimonial-text {
      flex-basis: 45%;
      .testimonial-list {
        padding-inline: 0;
        .testimonial-item {
          width: 0.8rem; // c
        }
      }
    }
    .testimonial-card-holder {
      flex-basis: 55%;
      margin-top: 0rem; //c
      gap: 2rem;
      margin-bottom: 10rem;
      .testimonial-card-box {
        .testimonial-card {
          .testimonial-item {
            .testimonial-msg-box {
              padding-right: 3rem;
            }
          }
        }
      }

      .testimonial-arrow-btn {
        gap: 3rem;
        margin-top: 12rem;
      }
    }
  }

  /* message */
  .message {
    .message-container {
      .message-holder {
        padding: 6rem; //c
        .message-content {
          padding-inline: 0rem; //c
          h1 {
            margin-bottom: 4rem; //c
          }
          .message-input {
            padding-inline: 8rem; //c
            .message-box {
              gap: 1rem; //c
              padding: 1.5rem; //c
            }
            .message-sent-btn {
              padding: 1.5rem 2.5rem; //
            }
          }
        }
        &::after,
        &::before {
          @include positionAbsolute($bottom: -6rem, $left: 2rem); //c
          width: 22rem; //
        }
        &::after {
          @include positionAbsolute($top: -6rem, $right: -8rem); //c
        }
      }
      .messageboxdecore {
        @include positionAbsolute($right: 0rem, $top: -2rem);
        padding: 1rem;
        width: 4.5rem;
        // c
      }
    }
    &::after {
      @include positionAbsolute($bottom: 0rem, $right: 0);
      width: 10rem;
    }
  }
  footer {
    .footer {
      width: 100%;
      .footer-holder {
        width: 100%;
        .footer-brand-box {
          flex-basis: 20%;
        }
        .footer-menus {
          gap: 4rem;
        }
      }
    }
  }
  nav {
    padding-inline: 10rem !important;
  }
}
@media (min-width: 1900px) {
  .products .product-card-holder .product-cards-box div .product-card {
    height: 40rem;
  }
}
/* 4k */
@media (min-width: 1990px) {
  .pageholder {
    max-width: 1990px;
    height: fit-content;
    position: relative;
  }
  nav {
  }
}
/* 
@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
 
} */
